<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>movie list</title>
        <style>
        ul,li,section,div {padding: 0;margin: 0}
        li {
            list-style: none;
        }

        h1 {
            margin-top : 60px;
            text-align: center;
            font-family: monospace;
            font-weight: 100;
        }


        // movie area
        .showWrap {
            width: 2000px;
            margin: 60px auto;
            overflow-y: auto;
        }

        .showWrap > ul {
            overflow: auto;
            height: 700px;
            margin: 0px auto;
            background-color: #f3f2f2;
        }

        .showWrap > ul > li {
            padding: 50px;
            width: 400px;
            float: left;
            border-right: 1px solid #e6dada;
            height: 500px;
        }

        .showWrap form > div {
            margin-bottom: 12px;
        }

        .showWrap button {
            width: 120px;
            height: 30px;
            margin-top: 20px;
        }

        .showResult {
            margin-top: 30px;
        }

        .showResult li {
            margin-bottom: 16px;
        }

        .showMovieResult {
            margin-top: 30px;
        }

        .showMovieResult li {
            margin-bottom: 16px;
        }
        </style>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="style.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/css/ui.css"> -->

    </head>
    <body>
<!--
    <header>
        <div><a href="/">메인페이지</a></div>
        <div><a href="/logout">logout</a></div>
    </header> -->
    <!-- Navigation -->
    <nav class ="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="naver-brand" href="/"><img src="/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div calss="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1>MovieRecommendation</h1>

    <section class="showWrap">
        <ul>
            <li class="get_all">
                <button>모든영화보기</button>
                <section class="showResult"></section>
            </li>

            <li class="get_id">
                <input type="text" name="keyword">
                <button>Keyword 검색</button>
                <section class="showResult"></section>
            </li>
            <!-- <li calss ="get_id">
              <section class="showMovieResult"></section>
            </li> -->
        </ul>
    </section>


    <script>
        document.querySelector('.showWrap').addEventListener('click', function(e) {
            let url, method, data, fn;
            const target = e.target;
            const li = target.closest('LI');
            const showResult = li.querySelector(".showResult");
            const showMovieResult = li.querySelector(".showMovieResult");
            const type = li.className;
            if(target.tagName !== "BUTTON") return;
            switch (type) {
                case "get_all":
                    url = "/movie";
                    method = "GET";
                    fn = function(result) {
                        if(result.result === 1) {
                            let titles = result.data.reduce(function(pre,next){
                                pre += "<li><a href='https://movie.naver.com/movie/bi/mi/basic.nhn?code="+(next.code)+"'>" + next.movie_title + "</a></li>"
                                return pre;
                            },"");
                            showResult.innerHTML = "<ul>" + titles + "</ul>";
                        } else {
                         showResult.innerHTML = "list not found";
                        }
                    }
                    break;
                case "get_id":
                    url = "/movie/"+li.getElementsByTagName("input")[0].value;
                    code = "";
                    method = "GET";
                    fn = function(result) {
                        if(result.result === 1) {
                          //<a href="https://www.w3schools.com">Visit W3Schools.com!</a>
                          //'<span class="markerbg marker_' + (index+1) + '"></span>'
                          //<input type = button value=next.movie_title onclick="">
                          let titles = result.data.reduce(function(pre,next){
                              pre += "<li><a href='https://movie.naver.com/movie/bi/mi/basic.nhn?code="+(next.code)+"'>" + next.movie_title + "</a></li>"
                              return pre;
                          },"");
                          showResult.innerHTML = "<ul>" + titles + "</ul>";//ul
                        }else {
                            showResult.innerHTML = "해당하는 영화가 없네요..";
                        }
                    }
                    break;
                default:
                    // statements_def
                    console.log("default");
                    break;
            }
            sendAjax(url, method, data, fn);
        })
        //@data : json format.
        function sendAjax(url, method, data, fn){
            const xhr = new XMLHttpRequest();
            xhr.open(method, url);
            if(data) {
                data = JSON.stringify(data);
                xhr.setRequestHeader('Content-Type', "application/json");
            } else {
                data = null;
            }
            xhr.send(data);
            xhr.addEventListener('load', function() {
                const result = JSON.parse(xhr.responseText);
                fn(result);
            });
        }
    </script>

    </body>
</html>
