<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie Recommendation</title>
        <style>
        ul,li,section,div {padding: 0;margin: 0}
        li {
            list-style: none;
        }

        h1 {
            margin-top : 60px;
            text-align: center;
            font-family: monospace;
            font-weight: 100;
        }


        .input {
            width: 150px;
            height: 24px;
        }



        // movie area
        .showWrap {
            width: 1000px;
            margin: 60px auto;
            overflow-y: auto;
        }

        .showWrap > ul {
            overflow: auto;
            width: 1418px;
            margin: 0px auto;
            height: 600px;
            background-color: #f3f2f2;
        }

        .showWrap > ul > li {
            padding: 60px;
            width: 280px;
            float: left;
            border-right: 2px solid #e6dada ;
            height: 500px;
        }

        .showWrap form > div {
            margin-bottom: 12px;
        }

        .showResult {
            margin-top: 30px;
        }

        .showResult li {
            margin-bottom: 16px;
        }
        </style>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="style.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/css/ui.css"> -->

    </head>
    <body>
<!--
    <header>
        <div><a href="/">메인페이지</a></div>
        <div><a href="/logout">logout</a></div>
    </header> -->
    <!-- Navigation -->
    <nav class ="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="naver-brand" href="/"><img src="/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div calss="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1>Admin page</h1>

    <section class="showWrap">
        <ul>
            <li class="get_all">
                <button type="button" class="btn btn-outline-primary">모든영화보기</button>
                <section class="showResult"></section>
            </li>
            <li class="post">
                <form action="" method="post">
                   <div> 코드 : <input type="text" class="form-control" name="code" placeholder="ex) 123456"> </div>
                   <div> 제목 : <input type="text" class="form-control" name="movie_title" placeholder="ex) 블랙 팬서"> </div>
                   <div> 평점 : <input type="text" class="form-control" name="point" placeholder="ex) 8.43"> </div>
                   <div> 장르 : <input type="text" class="form-control" name="Genres" placeholder="ex) 액션"> </div>
                   <div> 상영시간 : <input type="text" class="form-control" name="Times" placeholder="ex) 113"> </div>
                   <div> 개봉날짜 : <input type="text" class="form-control" name="Releases" placeholder="ex) 20180214"> </div>
                   <div> 감독 : <input type="text" class="form-control" name="Directors" placeholder="ex) 히로키 류이치"> </div>
                   <div> 배우 : <input type="text" class="form-control" name="Actors" placeholder="ex) 채드윅 보스만"> </div>
                   <div> 등급 : <input type="text" class="form-control" name="Grades" placeholder="ex) 12세 관람가 PG-13"> </div>
                </form>
                <button type="button" class="btn btn-outline-success">영화 추가</button>
                <section class="showResult"></section>
            </li>

            <li class="delete_id">
                <p><input type="text" class="form-control" name="movie_title" placeholder="ex) 블랙 팬서"></p>
                <p><button type="button" class="btn btn-outline-danger">영화 삭제</button></p>
                <section class="showResult"></section>
            </li>

            <li class="get_user">
                <button type="button" class="btn btn-outline-warning">모든회원보기</button>
                <section class="showResult"></section>
            </li>
            <li class="delete_uname">
                <p><input type="text" class="form-control" name="uname" placeholder="ex) gamma"></p>
                <p><button type="button" class="btn btn-outline-info">회원 삭제</button></p>
                <section class="showResult"></section>
            </li>
        </ul>
    </section>


    <script>
        document.querySelector('.showWrap').addEventListener('click', function(e) {
            let url, method, data, fn;
            const target = e.target;
            const li = target.closest('LI');
            const showResult = li.querySelector(".showResult");
            const showMovieResult = li.querySelector(".showMovieResult");
            const type = li.className;
            if(target.tagName !== "BUTTON") return;
            switch (type) {
                case "get_all":
                    url = "/admin";
                    method = "GET";
                    fn = function(result) {
                        if(result.result === 1) {
                            let titles = result.data.reduce(function(pre,next){
                                pre += "<li><a href='https://movie.naver.com/movie/bi/mi/basic.nhn?code="+(next.code)+"'>" + next.movie_title + "</a></li>"
                                return pre;
                            },"");
                            showResult.innerHTML = "<ul>" + titles + "</ul>";
                        } else {
                         showResult.innerHTML = "list not found";
                        }
                    }
                    break;
                case "get_user":
                    url = "/admin/user";
                    method = "GET";
                    fn = function(result) {
                        if(result.result === 1) {
                            let users = result.data.reduce(function(pre,next){
                                pre += "<li>" + next.uname + "</li>"
                                return pre;
                            },"");
                            showResult.innerHTML = "<ul>" + users + "</ul>";
                        } else {
                         showResult.innerHTML = "list not found";
                        }
                    }
                    break;
                case "post":
                    url = "/admin";
                    method = "POST";
                    let inputs = [].slice.call(document.querySelector("form").elements);
                    data = inputs.reduce(function(pre,next) {
                        pre[next.name] = next.value;
                        return pre;
                    }, {});
                    fn = function (result) {
                        if(result.result === 1) showResult.innerHTML = "새로운 영화 데이터가 잘 추가됐습니다.";
                        else showResult.innerHTML = "list not found";
                    }
                    break;
                case "delete_id":
                    url = "/admin/"+li.getElementsByTagName("input")[0].value;
                    method = "DELETE";
                    fn = function(result) {
                        if(result.result === 1) {
                            showResult.innerHTML = "선택한 영화 " + result.data+ " 가 잘 삭제됐습니다";
                        }else{
                            showResult.innerText = "해당 영화가 없습니다";
                        }
                    }
                    break;
                    case "delete_uname":
                        url = "/admin/user/"+li.getElementsByTagName("input")[0].value;
                        method = "DELETE";
                        fn = function(result) {
                            if(result.result === 1) {
                                showResult.innerHTML = "선택한 회원 " + result.data+ " 가 잘 삭제됐습니다";
                            }else{
                                showResult.innerText = "해당 회원이 없습니다";
                            }
                        }
                        break;
                default:
                    // statements_def
                    console.log("default");
                    break;
            }
            sendAjax(url, method, data, fn);
        })
        //@data : json format.
        function sendAjax(url, method, data, fn){
            const xhr = new XMLHttpRequest();
            xhr.open(method, url);
            if(data) {
                data = JSON.stringify(data);
                xhr.setRequestHeader('Content-Type', "application/json");
            } else {
                data = null;
            }
            xhr.send(data);
            xhr.addEventListener('load', function() {
                const result = JSON.parse(xhr.responseText);
                fn(result);
            });
        }
    </script>

    </body>
</html>
